# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules/
yarn.lock

# Transpiled files
build/

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
tmp/

# Env variables
.env
.env.local